/* Contains all of the CSS for the two HTML files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
}

img {
    height: 200px;
}

h1 {
    color: #038C73;
    font-family: 'Playfair Display';
}

h2 {
    font-family: 'Playfair Display';
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #3C8FDD;
}

.navbar > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montesserat';
}

.navbar > a:hover {
    color: black;
    text-decoration: none;
}

footer {
    background-color: #D8C5A5;
    font-weight: bold;
}

footer > div {
    font-family: 'Playfair Display';
}

.container > div > h3> a {
    color: #81B854;
    text-decoration: none;
    font-family: 'Montesserat';
}

tr:nth-child(even) {
    background-color: lightgrey;
}
